header {
    background-image: url('img/people.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 60vh;
    }
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

@media (max-width: 768px) {
    .parallax-img {
        background-attachment: parallax !important;
    }
}