header {
    background-image: url('img/people.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 60vh;
    }
}